{% extends "base.html.twig" %}

{% block body %}
     <div class="container d-flex justify-content-center">
        <div class="row bg-white mt-3 mb-3">
            <div class="col-12 d-flex justify-content-center font-weight-bold titre">LISTE DES ETUDIANTS</div>
                <div class="col-12 bg-light">
                    <div class="d-flex align-items-center text-center mt-3">
                        <table class="table table-striped " id="dataTable">
                            <thead class="text-info">
                                <tr>
                                    <th>matricule</th>
                                    <th>nom</th>
                                    <th>prenom</th>
                                    <th>date de Niassance</th>
                                    <th>E-mail</th>
                                    <th>Telephone</th>
                                    <th>Type d'etudiant</th>
                                    <th>departement</th>
                                    <th>action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for etudiant in etudiants %}
                                    <tr>
                                        <td scope="row">{{etudiant.matricule}}</td>
                                        <td>{{etudiant.nom}}</td>
                                        <td>{{etudiant.prenom}}</td>
                                        <td>{{etudiant.dateNaiss | date('d/m/Y')}}</td>
                                        <td>{{etudiant.Email}}</td>
                                        <td>{{etudiant.telephone}}</td>
                                        <td>{{etudiant.typeEtudiant}}</td>
                                        <td>{{etudiant.departement}}</td>
                                        <td><a href="{{path('edit_etudiant', {'id': etudiant.id})}}" class="btn btn-outline-info my-2 my-sm-0" type="submit">modifier</a></td>
                                    </tr>
                                {% endfor %}  
                            </tbody>
                        </table>
                    </div>   
                </div>
            </div>
        </div>   
    </div>

{% endblock %}